# ===== Supabase (PostgreSQL) =====
SUPABASE_HOST=your-project.supabase.co
SUPABASE_PORT=5432
SUPABASE_DB=postgres
SUPABASE_USER=postgres
SUPABASE_PASSWORD=your-strong-password-here

# ===== Supabase API =====
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_ANON_KEY=your-anon-key-here

# ===== Airflow =====
AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=./
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin

# ===== dbt =====
DBT_PROFILES_DIR=/opt/dbt
BALLDONTLIE_API_KEY=your-ball-dont-lie-api-key-here